@import "bootstrap-grid.min.css";
@import "bootstrap-reboot.min.css";
@import "bootstrap.min.css";

//variables with colors white theme
$ColYellow: #FDF089;
$ColTitles: #222222;
$ColMainText:#666666;
$ColMainBG: #FFFFFF;
$ColSecondaryBG: #C4C4C4;
$MainBackGround: #E5E5E5;

//general tags

html{
  font-size: 18px;
}

h1{
  display: block;
  width: 70%;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  line-height: 3.5rem;
  color: $ColTitles;
}
h2{
  display: block;
  width: 70%;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.5em;
  color: $ColTitles;
}
h3{
  display: block;
  width: 70%;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  line-height: 1.3em;
  color: $ColTitles;
}
.mainText{
  color: $ColMainText;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 2rem;
  width: 45%;
  line-height: 1rem;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  @media screen and (max-width: 600px){
    font-size: 9px;
  }
}
body{
  background-color: $ColMainBG;
}
header{
    padding: 2rem 0;
  .logoImg{
      height: 3rem;
    img{
      height: 100%;

    }
  }
  .burger{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #burgerMenu{
    width: 1.9rem;
    height: 1.9rem;
    img{
      width: 100%;
    }
  }
}
.firstScreen{
  margin-bottom: 3rem;
  .innerBlock{
    position: relative;
    height: 30rem;
    padding-top: 5rem;

    img{
      width: 50%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
    .buttonCatalogue{
      display: block;
      width: 10rem;
      padding: 1rem 2rem;
      background-color: $ColYellow;
      text-decoration: none;
      color: black;
      font-size: 1rem;
      border-radius: 2rem;
      i{
        margin-left: 0.5rem;
      }
      &:hover{
        text-decoration: none;
        transform: scale(1.1);
        transition: 0.8s linear;
      }
    }
  }

}

.whyWeAre{
  margin-bottom: 3rem;
  img{
    width: 100%;
  }
  .mainText{
    width: 100%;
  }
  .rightColumn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    h3{
      text-transform: uppercase;
    }
  }
}

.ourBenefits{
  margin-bottom: 3rem;
  .innerBl{
    display: flex;
    padding: 0 10%;
  }
  .benefitBl{
    max-width: 90%;
    margin: auto;
    .icon{
      width: 65px;
      height: 65px;
      display: block;
      background-color: $ColYellow;
      position: relative;
      margin-bottom: 2rem;
      &:after{
        display: block;
        content: "";
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        bottom: -15px;
        right: -15px;
      }
    }
    .ben1{
      &:after {
        background-image: url("../img/pagesStructure/award 1.png");
      }
    }
    .ben2 {
      &:after {
        background-image: url("../img/pagesStructure/chair (1) 1.png");
      }
    }
    .ben3{
      &:after {
        background-image: url("../img/pagesStructure/hourglass 1.png");
      }
    }
    .ben4{
      &:after {
        background-image: url("../img/pagesStructure/layers (1) 1.png");
      }
    }
    .ben5{
      &:after {
        background-image: url("../img/pagesStructure/price-tag 1.png");
      }
    }
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 20px;
  }
  h1 {
    width: 100%;
  }
  h2 {
    width: 100%;
  }
  .mainText {
    width: 100%;
    line-height: 1.5rem;
  }
  .firstScreen {
    .innerBlock {
      position: relative;
      padding-top: 1rem;
      height: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      img {
        width: 100%;
        position: static;
        margin-bottom: 2rem;
      }

    }

  }
  .ourBenefits {
    .innerBl {
      padding: 0;
      flex-wrap: wrap;
    }
    .benefitBl {
      width: 50%;
    }
  }
}

//general classes
.narrowRight{
  position: relative;
  &:after{
    background-image: url("../img/pagesStructure/NarrowRight.png");
    background-size: 100%;
    height: 1em;
    width: 1em;
    display: block;
    position: absolute;
    top: 0.1em;
    left: 0;
    content: "";
  }

}